body {
}

/* Game Page */
#OutputWindow
{
	width: 80%;
	height: 500px;
	min-width: 320px;
	min-height: 320px;
	border: 1px solid;
	overflow-y: auto;
}

#txtMessage {
	width: calc(80% - 100px);
}

#cmdSend {
	width: 93px;
}

#PlayArea {
	display: none;
}

#LoginForm {
	display: none;
}

.FormRow div {
	display: inline-block;
}

.FormRomLabel {
	width: 250px;
}

.InformationRow {
	font-style: italic;
	font-size: small;
}

.Strong {
	font-weight: bold;
}

/* Receipe items */

.ReceipeItem {
	margin: 10px;
	padding: 2px;
	border: 1px solid #808080
}

.SectionTitle {
	background-color: #e4e1e1;
	font-weight: bold;
}

.SectionDescription {
	border-bottom: 1px solid #808080;
}

.Information {
	font-size: small;
}

.InformationIntro {
	font-weight: bold;
}

.InformationOutput {
	padding-left: 4px;
}