/* Login / Create Form Styles */
@import url('slackmud_login_create.css');

.game-output,
.game-input {
    font-family: 'Raleway', sans-serif;
}

.game-output {
    height: calc(100% - 94px);
    width: calc(100% - 60px);
    margin: 0 30px;
    overflow-y: scroll;
    background-color: rgba(238, 238, 238, 1.0);
    font-size: 1.15em;
    padding: 15px;
}

.game-input {
    width: calc(100% - 30px);
    font-size: 1.15em;
    padding-left: 30px;
    margin: 30px 0;
}

.game-output li {
    list-style: none;
    padding-left: 15px;
}

.game-output .inputoutputcommand {
    color: royalblue;
}

@media(max-width: 767px) {
    .navbar-slackmud {
        margin-bottom: 0;
        border: 0;
    }

    .navbar-slackmud .navbar-brand {
        height: 50px;
        padding: 0;
    }

    .navbar-slackmud .navbar-brand img {
        padding: 10px;
    }

    .navbar-slackmud .navbar-toggle {
        margin-top: 8px;
    }

    html > body {
        height: calc(100% - 50px);
        min-height: calc(100% - 50px);
    }

    body .page-content {
        margin-top: 50px;
        height: 100%;
    }

    #gameplay-section .col-xs-12 {
        padding: 0;
    }

    .content-block {
        padding: 5px 0 0 0;
    }

    .game-output {
        height: calc(100% - 44px);
        width: calc(100% - 10px);
        margin: 0 5px;
        padding: 10px;
    }

    .game-input {
        width: calc(100% - 5px);
        padding-left: 5px;
        margin: 5px 0 5px 0;
    }

    .game-input .form-control {
        font-size: 16px;
    }

    footer {
        display: none;
    }
}

@media(max-width: 520px) {
    .game-output {
        font-size: 0.95em;
    }
}
