.login-create-section {
  margin-top: 150px;
}

.panel-login {
    background: rgba(43, 43, 43, 0.79);
    border: 0;
    border-radius: 0;
    color: rgba(255, 255, 255, 1);
}

.panel-login a {
    color: rgba(255, 255, 255, 1.0);
}

.panel-login .panel-body {
    padding: 15px;
}

.panel-login .form-control {
    background-color: transparent;
    color: rgba(255, 255, 255, 1.0);
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 266, 0.6);
    box-shadow: none;
    -webkit-transition: background-color 0.25s linear, border-color 0.25s linear;
    -moz-transition: background-color 0.25s linear, border-color 0.25s linear;
    -ms-transition: background-color 0.25s linear, border-color 0.25s linear;
    transition: background-color 0.25s linear, border-color 0.25s linear;
}

.panel-login input[type="text"]::-webkit-input-placeholder,
.panel-login input[type="email"]::-webkit-input-placeholder,
.panel-login input[type="password"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1.0);
}
.panel-login input[type="text"]::-moz-placeholder,
.panel-login input[type="email"]::-moz-placeholder,
.panel-login input[type="password"]::-moz-placeholder {
    color: rgba(255, 255, 255, 1.0);
}
.panel-login input[type="text"]:-ms-input-placeholder,
.panel-login input[type="email"]:-ms-input-placeholder,
.panel-login input[type="password"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1.0);
}

.panel-login input:hover,
.panel-login input:focus {
    border-color: rgba(255, 255, 255, 1.0);
}

.panel-login input:focus,
.panel-login input:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.panel-login .btn-submit {
	background-color: rgba(103, 103, 103, 1.0);
    border: 0;
    border-radius: 0;
}

.panel-login .btn-submit:hover {
    background-color: rgba(43, 43, 43, 1.0);
}

.panel-login > .panel-heading {
    text-align: center;
    border: 0;
    border-radius: 0;
    padding-top: 0;
}

.panel-login > .panel-heading .tabs {
    padding: 0;
    background-color: rgba(43, 43, 43, 1.0);
    padding: 15px 0;
    cursor: pointer;
}

.panel-login > .panel-heading .tabs.active {
    background-color: transparent;
    cursor: default;
}

@media(max-width: 1200px) {
    body .login-create-section {
        margin-top: 110px;
    }
}

@media(max-width: 767px) {
    body .login-create-section {
        margin-top: 95px;
    }
}